.section-2016 {
  background: #6636c6; 
  color: $white;
  
  a {
    color: $white;
  }
   
  img {
    background: $white;
    display: inline-block;
    margin-right: 1em;
    padding-left: 2em;
    padding-right: 1em;
    width: 118px;
    vertical-align: middle;
  }
  
}